/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Default Settings */

:root {

    /* Default Colors */

    --primary-color: #fe7369;
    --secundary-color: #fbdcc1;
    --forest-color: #588157;
    --dark-color: #0c2115;
    --dark-blue: #100135;

    /* Default Fonts */

    --primary-font: "Madimi One", sans-serif;
    --secundary-font: "Ubuntu", sans-serif;
}

/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--secundary-font);
}

/* Mobile Navbar ----------------------------------------*/ 

.navbar {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    background-color: var(--primary-color);
    padding: 1.2rem 1rem;
    column-gap: .5rem;
}

/* Mobile Main Logo */

.img-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.img-container__logo {
    max-width: 11rem;
    height: auto;
}
.scroll-links, .access-links, .menu-container-tablet {
    display: none;
}

/* Mobile Menu-bar */

.access-links__link--quote1 {
    align-self: center;
    background-color: var(--dark-blue);
    padding: 1rem 1.2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}



.menu-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.menu-container__icon {
    max-width: 5.5rem;
    
}


/* Desktop Navbar -----------------------------------------*/

@media (min-width: 768px) {

    .menu-container {
        display: none;
    }

    .navbar {
        height: 5.2rem;
        width: 100vw;
        background-color: var(--primary-color);
        padding: 0 2.8vw;
    }

    .scroll-links, 
    .access-links {
        display: flex;
        align-items: center;
        padding-top: 1rem;
    }

    .scroll-links {
        order: 1;
        column-gap: 1.5vw;
        padding: 0 2rem;
    }

    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        padding: .4rem 0;
    }

    .img-container__logo {
        max-width: 10rem;
    }


    .access-links {
        padding: 0 2rem;
        order: 3;
        column-gap: 1.5vw;
    }

    .scroll-links__link, .access-links__link {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--dark-blue);
        position: relative;
        cursor: pointer;
        white-space: nowrap;
    }

    .access-links__link--quote2 {
        align-self: center;
        background-color: var(--dark-blue);
        padding: 1rem 1.7rem;
        border-radius: 2rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        color: white;
        white-space: nowrap;
    }

    /* Links with hover */

    .scroll-links__link::before, 
    .access-links__link:not(:last-of-type)::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2.5px;
        background-color: var(--dark-blue);
        transition: width 0.3s ease-in-out;
    }
    
    .scroll-links__link:hover::before, 
    .access-links__link:not(:last-of-type):hover::before {
        width: 100%;
    }
    
}





