/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Madimi+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Default Settings */

:root {

    /* Default Colors */

    --primary-color: #fe7369;
    --secundary-color: #fbdcc1;
    --forest-color: #588157;
    --dark-color: #0c2115;
    --dark-blue: #100135;

    /* Default Fonts */

    --primary-font: "Madimi One", sans-serif;
    --secundary-font: "Ubuntu", sans-serif;
    --third-font: "Fredoka", sans-serif;
}

/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--secundary-font);
    background-color: #f2e1df;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Mobile Navbar ----------------------------------------*/ 

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    background-color: var(--primary-color);
    padding: 1.2rem 1rem;
    column-gap: .5rem;
    border-bottom: solid 3px var(--dark-blue);
}

/* Mobile Main Logo */

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container__logo {
    max-width: 10rem;
    width: 100%;
}
.scroll-links, .access-links, .menu-container-tablet {
    display: none;
}

/* Mobile-Tablet Menu-bar */

.access-links__link--quote1 {
    align-self: center;
    background-color: var(--dark-blue);
    padding: 1rem 1.2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    text-decoration: none;
}

.menu-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.menu-container__icon {
    max-width: 5.5rem;
}

/* Mobile Menu */

.overlay {
    display: none;
}

.overlay__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fe7369;
    border: 3px solid var(--dark-blue);
    border-left: none;
    border-right: none;
}

.scroll-links__link--mobile {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--dark-blue);
    font-weight: 600;
    border-collapse: collapse;
    border: 1px solid #fbdcc1;
    padding: 1rem 100%;
    white-space: nowrap;
}

.scroll-links__link--mobile:first-child {
    border-top: none;
}

.scroll-links__link--mobile:last-child {
    border-bottom: none;
}

/* Mobile Main-Section -------------------------------------*/

/* Main-section Info */

.main-section__info{
    max-height: 100%;
    padding: 2.5rem;
    text-align: center;
}

.main-section__info__title {
    margin: 0;
    font-family: var(--third-font);
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    padding-bottom: 1.5rem;
}

.main-section__info__text {
    margin: 0;
    padding: .4rem 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.main-section__info__text:nth-child(3) {
    padding-bottom: 2.5rem;
}

.main-section__info__button {
    align-self: center;
    background-color: var(--dark-blue);
    padding: 1rem 1.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    text-decoration: none;
}

.main-section__info__scroll-container {
    font-weight: bold;
    padding-top: 2.4rem;
    font-size: 1.5rem;
}


.main-section__info__scroll-container__scroll-link:hover {
    text-decoration: underline;
}

.main-section__info__scroll-container__scroll-link, .main-section__info__scroll-container__scroll-icon{
    color: var(--dark-blue);
    text-decoration: none;
}

/* Main-Section-img */

.main-section__img__background {
    max-width: 100%;
}

/* Mobile Second-section ---------------------------------------------------*/

.second-section, .second-section__tips {
    display: flex;
    flex-direction: column;
}

.second-section {
    padding: 2.5rem;
    row-gap: 2rem;
}


.second-section__tips {
    align-items: center;
}

.second-section__tips__image {
    width: 18vw;
    margin-bottom: 1rem;
}

.second-section__tips__title {
    margin: 0;
    font-size: 6.5vw;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-family: var(--third-font);
}

.second-section__tips__text {
    text-align: center;
    font-size: 3.5vw;
}

/* info-divisor ---------------------------------------------*/

.info-divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.2vh;
    background-color: #2c3e50;
    text-align: center;
    font-family: var(--third-font);
    font-size: clamp(16px, 4vw, 24px);
    font-weight: bold;
    text-transform: uppercase;
    color: #f2e1df;
    margin-top: -1rem;
    
    @media (min-width: 768px) {     /* little responsive setting */
         margin: 2rem 0;
    }
}

.info-divisor__text {
    font-size: clamp(12px, 1.6vw, 65px);

    @media (min-width: 768px) {                 /* little responsive setting */
        font-size: clamp(18px, 1.6vw, 65px);
    }
}

.info-divisor__text:hover {
    text-shadow: 4px 5px black;
}

/* Mobile Third-section */

.third-section__title{
    font-family: var(--third-font);
    font-size: clamp(4rem, 2.2vw, 2.6vw);
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
}

.third-section__route {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
}

.third-section__route__image {
    border: 3px solid black;
    border-radius: 8px;
    width: 100%;
}

.third-section__route__title {
    font-family: var(--third-font);
    font-size: 1.8rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.third-section__route__text {
    font-size: 1.4rem;
    margin: 0;
}

.third-section__divisor {
    background-color: black;
    padding: .02rem;
    margin: 0 auto;
    width: 87%;
}

/* Fourth Section */

.fourth-section__container {
    margin: 2rem;
    margin-bottom: .5rem;
    aspect-ratio: 14 / 7;
    height: 100%;
}

.fourth-section__title {
    margin: 2rem 0;
    font-size: 7vw;
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--third-font);
}
.fourth-section__map {
    border: solid black 4px;
    border-radius: 7px;
}

.fourth-section__text {
    font-family: var(--third-font);
    font-size: 4vw;
    margin: .2rem 0;
}

.info-divisor-2 {
    height: 10vw;
    background-image: url(../images/waves-divisor.svg);
    background-size: 100%;
    border: solid var(--dark-color) 1px;
}

/* RESPONSIVE ===================================================================================================================== */

/* Desktop Navbar -----------------------------------------*/

@media (min-width: 768px) {

    .menu-container {
        display: none;
    }

    .navbar {
        height: 5.2rem;
        width: 100vw;
        background-color: var(--primary-color);
        padding: 0 2.8vw;
        position: fixed;
        top: 0;
        margin-bottom: 5.3rem;
        z-index: 1000;              /* we add z index due to in second section when hover is active is shown over the navbar */
    }

    .scroll-links, 
    .access-links {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        font-weight: 900;
    }

    .scroll-links {
        order: 1;
        column-gap: 1.5vw;
        padding: 0 2rem;
    }

    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        padding: .4rem 0;
    }

    .logo-container__logo {
        max-width: 10rem;
    }


    .access-links {
        padding: 0 2rem;
        order: 3;
        column-gap: 1.5vw;
    }

    .scroll-links__link, .access-links__link {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--dark-blue);
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        text-decoration: none;
    }

    .access-links__link--quote2 {
        align-self: center;
        background-color: var(--dark-blue);
        padding: 1rem 1.7rem;
        border-radius: 2rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        color: white;
        white-space: nowrap;
    }

    .access-links__link--quote2:hover {
        color: var(--dark-blue);
        background-color: #f1d2ce;
        border: 3px solid var(--dark-blue);
        padding: 1rem 1.6rem;
    }
    /* Links with hover */

    .scroll-links__link::before, 
    .access-links__link:not(:last-of-type)::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2.5px;
        background-color: var(--dark-blue);
        transition: width 0.3s ease-in-out;
    }
    
    .scroll-links__link:hover::before, 
    .access-links__link:not(:last-of-type):hover::before {
        width: 100%;
    }
    
}

@media (min-width: 3200px) {
     .navbar {
        height: 7.2rem;
     }
}

/* Tablet Main-section ------------------------------------------*/

@media (min-width: 760px) {
    
    .main-section__info {
        padding: 2.5rem 3.5rem;
    }

    .main-section__info__title {
        font-size: 5.8rem;
        line-height: 5.4rem;
    }

    .main-section__info__text {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .main-section__info p:nth-child(3) {
        margin-bottom: 1.5rem;
    }

    .main-section__info__button,
    .main-section__info__scroll-container {
        font-size: 2.1rem;
    }
}

/* Desktop Main-section -------------------------------------------*/

@media (min-width: 1024px) {
    .main-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        margin-top: 5.3rem;
        scroll-margin-top: 500px;
    }

    .main-section__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3.5vw;
        max-width: 50%;
    }

    .main-section__img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        padding-right: 2rem;
    }

    .main-section__img__background {
        max-width: 100%;
    }

    .main-section__info__title {
        font-size: 4vw;
        line-height: 4vw;
        padding-top: 2rem;
    }

    .main-section__info__text {
        font-size: 1.3vw;
        padding-bottom: 2rem;
    }

    .main-section__info p:nth-child(3) {
        padding-bottom: 1rem;
    }

    .main-section__info__button,
    .main-section__info__scroll-container {
        font-size: 1.5vw;
    }

    .main-section__info__scroll-container {
        padding: 2rem;
    }

    .main-section__info__button:hover {
            color: var(--dark-blue);
            background-color: #fe7369;
            border: 4px solid var(--dark-blue);
            padding: 1rem 1.6rem;
    }

    /* Divisor - Main-section */

    .spikes-divisor {
        position: relative;
        background: #2c3e50;
        height: 3.5vh;
        width: 100%;
        z-index: -1;
      }
      
      .spikes-divisor::after {
        content: '';
        position: absolute;
        right: 0;
        left: -3%;
        top: 100%;
        z-index: 10;
        display: block;
        height: 60px;
        background-size: 60px 100%;
        background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%), linear-gradient(225deg, #2c3e50 25%, transparent 25%);
        background-position: 0 0;
      }
}

/* Desktop 4K Main-section ---------------------------*/

@media (min-width: 3200px) {
     .main-section__info, .main-section__img {
        max-width: 43%;
     }

     .logo-container__logo {
        max-width: 13rem;
    }

    .scroll-links__link, .access-links__link {
        font-size: 2rem;
    }

    .access-links__link--quote2 {
        font-size: 2rem;
    }

    /* Divisor - Main-section */

    .spikes-divisor {
        position: relative;
        background: #2c3e50;
        height: 2vh;
        width: 100%;
      }
}

/* Tablet Second-section------------------------ */

@media (min-width: 768px) {
    .second-section {
        margin-top: 4rem;
    }
}
/* Desktop Second-section ---------------------- */

@media (min-width: 1024px) {
    .second-section{
        flex-direction: row;
        margin-top: 6.5rem;
        column-gap: 3rem;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 5rem;
    }
    .second-section__tips {
        width: 33.3%;
    }
    
    .second-section__tips__image {
        width: 9vw;
        margin-bottom: 2rem;
    }
    
    .second-section__tips__title {
        font-size: 2.3vw;
        margin-bottom: 1rem;
    }

    .second-section__tips__image:hover {
        filter: drop-shadow(
            0 0 8px yellow
        );
    }

    .second-section__tips__title:hover {
        color: rgb(229, 229, 15);
        text-shadow: black 2px 4px;
    }
    
    .second-section__tips__text {
        font-size: 1.2vw;
        padding: 0 1rem;
    }
}

/*  Tablet Third-section ------------------------------------------*/

@media (min-width: 768px) {
     .third-section__route__text {
        font-size: 1.7rem;
     }
}

/* Desktop Third-section -----------------------------------------*/

@media (min-width: 1024px) {

    .third-section__divisor{
        display: none;
    }

    .third-section {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .third-section__route {
        max-width: 29vw;
    }

    .third-section__route__image{
        width: 100%;
    }

    .third-section__route__title{
        font-size: 1.8rem;
        margin: 1.5rem 0;
    }

    .third-section__route__text{
        font-size: 1.5rem;
    }

}

/* 4k Destop Third-section -------------------------------------------*/

@media (min-width: 3270px) {


    .third-section__route__title {
        font-size: 1.2vw;
    }

    .third-section__route__text {
        padding: 0;
        font-size: 1vw;
    }
}

/* Tablet Fourth Section ---------------------------------------------*/

@media (min-width: 768px) {

    .fourth-section__title {
        font-size: 5.5vw;
    }

    .fourth-section__text {
        font-size: 3vw;
        padding: .5rem 0;
        margin: 0;
    }

    .info-divisor-2 {
        height: 6.7vw;
    }

    .fourth-section__container {
        max-width: 60vw;
        margin: 0 auto;
        padding-bottom: 0;
        aspect-ratio: 14 / 7;
        padding: 0 2rem;
    }
}

/* Desktop Fourth Section */

@media (min-width: 1024px) {
     
    .info-divisor-2 {
        max-height: 50px;
        background-position: center;
    }

    .fourth-section__title {
        font-size: clamp(45px, 3.5vw, 75px);
        margin: clamp(3rem, 5vw , 4.5rem);
    }

    .fourth-section__text {
        font-size: clamp(22px, 2.5vw, 30px);
        padding: .5rem 0;
        margin: 0;
    }
}

/* Background-animation ====================================================================================================*/

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--secundary-color);
    overflow: hidden;
    z-index: -100;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(123, 120, 120, 0.272);
    animation: animate 10s linear infinite;
}

.background li:nth-child(0) {
    left: 0%;
    width: 283px;
    height: 283px;
    bottom: -283px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 86%;
    width: 255px;
    height: 255px;
    bottom: -255px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 29%;
    width: 350px;
    height: 350px;
    bottom: -350px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 69%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 13s;
}
.background li:nth-child(4) {
    left: 42%;
    width: 231px;
    height: 231px;
    bottom: -231px;
    animation-delay: 12s;
}
.background li:nth-child(5) {
    left: 37%;
    width: 295px;
    height: 295px;
    bottom: -295px;
    animation-delay: 2s;
}
.background li:nth-child(6) {
    left: 68%;
    width: 216px;
    height: 216px;
    bottom: -216px;
    animation-delay: 8s;
}
.background li:nth-child(7) {
    left: 14%;
    width: 271px;
    height: 271px;
    bottom: -271px;
    animation-delay: 11s;
}
.background li:nth-child(8) {
    left: 30%;
    width: 215px;
    height: 215px;
    bottom: -215px;
    animation-delay: 22s;
}
.background li:nth-child(9) {
    left: 74%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 35s;
}
.background li:nth-child(10) {
    left: 70%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 29s;
}
.background li:nth-child(11) {
    left: 15%;
    width: 350px;
    height: 350px;
    bottom: -350px;
    animation-delay: 23s;
}
.background li:nth-child(12) {
    left: 9%;
    width: 241px;
    height: 241px;
    bottom: -241px;
    animation-delay: 48s;
}
.background li:nth-child(13) {
    left: 41%;
    width: 261px;
    height: 261px;
    bottom: -261px;
    animation-delay: 39s;
}
.background li:nth-child(14) {
    left: 71%;
    width: 241px;
    height: 241px;
    bottom: -241px;
    animation-delay: 2s;
}
.background li:nth-child(15) {
    left: 89%;
    width: 256px;
    height: 256px;
    bottom: -256px;
    animation-delay: 37s;
}
.background li:nth-child(16) {
    left: 23%;
    width: 215px;
    height: 215px;
    bottom: -215px;
    animation-delay: 6s;
}
.background li:nth-child(17) {
    left: 68%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 10s;
}
.background li:nth-child(18) {
    left: 44%;
    width: 206px;
    height: 206px;
    bottom: -206px;
    animation-delay: 90s;
}
.background li:nth-child(19) {
    left: 35%;
    width: 360px;
    height: 360px;
    bottom: -360px;
    animation-delay: 58s;
}
.background li:nth-child(20) {
    left: 58%;
    width: 242px;
    height: 242px;
    bottom: -242px;
    animation-delay: 69s;
}
.background li:nth-child(21) {
    left: 58%;
    width: 360px;
    height: 360px;
    bottom: -360px;
    animation-delay: 13s;
}
.background li:nth-child(22) {
    left: 69%;
    width: 200px;
    height: 200px;
    bottom: -200px;
    animation-delay: 32s;
}
.background li:nth-child(23) {
    left: 1%;
    width: 297px;
    height: 297px;
    bottom: -297px;
    animation-delay: 30s;
}
.background li:nth-child(24) {
    left: 8%;
    width: 223px;
    height: 223px;
    bottom: -223px;
    animation-delay: 99s;
}
.background li:nth-child(25) {
    left: 54%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 71s;
}
.background li:nth-child(26) {
    left: 35%;
    width: 266px;
    height: 266px;
    bottom: -266px;
    animation-delay: 75s;
}
.background li:nth-child(27) {
    left: 33%;
    width: 355px;
    height: 355px;
    bottom: -355px;
    animation-delay: 132s;
}
.background li:nth-child(28) {
    left: 65%;
    width: 274px;
    height: 274px;
    bottom: -274px;
    animation-delay: 52s;
}
.background li:nth-child(29) {
    left: 5%;
    width: 305px;
    height: 305px;
    bottom: -305px;
    animation-delay: 2s;
}